@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

:root {
	--primary-500: #2532e9;

	--gray-300: #d1d5db;
	--gray-700: #374151;
}

* {
	box-sizing: border-box;
}
